:root {
    --primary-text-color: #434455;
    --subtitle-color: #8e8f99;
    --primary-brand: #4d5ae5;
    --section-bg-color: #e5e5e5;
    --dark-color: #2e2f42;
    --primary-white-color: #ffffff;
    --pressed-state: #404bbf;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --success-color: #31d0aa;
    --transition: color, background-color, border, box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    font-family: inherit;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    font-weight: 500;
    border: none;
}

.container {
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: var(--dark-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
}

.section-subtitle {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.header {
    padding-left: 156px;
    border-bottom: 1px solid var(--secondary-button-color);
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.header-logo {
    color: var(--dark-color);
    font-family: Raleway, cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.header-logo span {
    color: var(--primary-brand);
}

.header-menu {
    display: flex;
    gap: 40px;
}

.header-menu-link {
    color: var(--dark-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: var(--pressed-state);
    transition: var(--transition);
}

.header-address-menu {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-left: auto;
}

.header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text-color);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--pressed-state);
    transition: var(--transition);
}

.current {
    position: relative;
}

.current::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
    border-radius: 2px;
    background-color: var(--pressed-state);
}

.hero {
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), 
        url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 100%;
    width: 1440px;
    height: 600px;
}

.hero-container {
    display: block;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    text-align: center;
    margin: 0 auto;
    max-width: 496px;
    min-height: 120px;
    margin-bottom: 48px;
}

.hero-button {
    color: var(--primary-white-color);
    background-color: var(--primary-brand);
    display: block;
    padding: 16px 32px;
    gap: 10px;
    margin: 48px auto 0;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: var(--pressed-state);
    transition: var(--transition);
}

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-list {
    display: flex;
    padding: 0px;
    gap: 24px;
}

.feature-item {
    width: calc((100% - 72px) / 4);
    margin-right: 0;
    position: relative;
}

.feature-item-block {
    position: relative;
    border: 1px solid var(--light-color);
    border-radius: 4px;
    background-color: var(--light-color);
    width: 264px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.feature-item-icon {
    position: absolute;
    top: 24px;
}

.feature-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ability {
    padding-top: 120px;
    padding-bottom: 120px;
}
.ability-title {
    max-width: 323px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.ability-list {
    display: flex;
    gap: 24px;
}

.ability-item {
    width: calc((100% - 16px) / 3);
}

.work {
    background-color: var(--section-bg-color);
    padding-top: 120px;
    padding-bottom: 120px;
}

.work-title {
    max-width: 162px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.work-list {
    display: flex;
    gap: 24px;
}

.work-item {
    display: block;
    max-width: 264px;
    max-height: 380px;
    padding: 0px 0px 32px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.work-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 16px;
    gap: 8px;
}

.work-subtitle {
    text-align: center;
    margin-bottom: 8px;
}

.work-item-text {
    text-align: center;
}

.work-social {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.work-social-item {
    content: '';
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary-brand);
}

.work-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: var(--dark-color);
    color: var(--primary-white-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    color: var(--second-logo-color);
    font-family: Raleway, cursive;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin-bottom: 16px;
}

.footer-logo span {
    color: var(--primary-brand);
}

.footer-text {
    color: var(--secondary-button-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 16px;
    max-width: 264px;
    max-height: 72px;
}

.footer-container {
    display: flex;
    width: 208px;
    height: 80px;
    align-items: center;
    justify-content: center;
}

.footer-social {
    display: flex;
    padding: 0px;
    gap: 16px;
    max-width: 208px;
    max-height: 40px;
}

.footer-social-item {
    display: flex;

}

.filter-button {
    background-color: var(--secondary-button-color);
    color: var(--pressed-state);
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
    align-items: center;
    max-width: 116px;
    max-height: 48px;
}

.filter-button:hover,
.filter-button:focus {
    background-color: var(--pressed-state);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 2px 1px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: var(--transition);
}

.project {
    padding-top: 96px;
    padding-bottom: 120px;
}

.project-buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.project-item {
    box-sizing: border-box;
    max-width: 360px;
    max-height: 420px;
    display: flex;
    gap: 8px;
}

.project-item-block {
    position: relative;
    overflow: hidden;
}

.project-item:hover .project-cover-block {
    transform: translate(0);
    transition: var(--transition);
}

.project-container {
    padding: 32px 16px;
    border: 1px solid var(--secondary-button-color);
    border-top: none;
}

.project-title {
    align-items: center;
    max-width: 290px;
    max-height: 24px;
    margin-bottom: 8px;
}

.project-item-text {
    align-items: center;
    max-width: 30px;
    max-height: 24px;
}

.project-cover-block {
    position: absolute;
    background-color: var(--primary-brand);
    top: 0;
    left: 0;
    width: 360px;
    transform: translateY(100%);
    transition: transform var(--transition);
}

.project-cover-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}



